/* make darkmode super dark so its clear that its admin */
.admin-layout {
    --color-librelearn-900: #000000 !important;
    --color-librelearn-800: #2a2a2a !important;
    --color-librelearn-700: #3f3f3f !important;
    --color-librelearn-600: #747474 !important;
    --color-librelearn-500: #9c9c9c !important;
    --color-librelearn-400: #a8a8a8 !important;
    --color-librelearn-300: #b7b7b7 !important;
    --color-librelearn-200: #d4d4d4 !important;
    --color-librelearn-100: #e5e5e5 !important;
    --color-librelearn-75: #f3f4f6 !important;
    --color-librelearn-50: #fafafa !important;
}